.env
/image-analyzer
/images

/chapter-1/data*
/chapter-2/data*
/chapter-3/data*
/chapter-4/data*
/chapter-5/data*
/chapter-6/data*

/chapter-1/merged.json
/chapter-2/merged.json
/chapter-3/merged.json
/chapter-4/merged.json
/chapter-5/merged.json
/chapter-6/merged.json

